@model CarEditViewModel

@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.LicensePlate) ? "Add New Car" : "Changing the info for: " + Model.LicensePlate;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="row">
    <form asp-action="Save" asp-controller="Home">
        <div class="row">
            <div class="col-lg-2">
                <label asp-for="LicensePlate">License Plate:</label>
            </div>
            <div class="col-lg-10">
                <input asp-for="LicensePlate"/>
                <span asp-validation-for="LicensePlate" style="color: red"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label asp-for="Date">Date:</label>
            </div>
            <div class="col-lg-10">
                <input asp-for="Date"/>
                <span asp-validation-for="Date" style="color: red"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label asp-for="OwnerId">Owner:</label>
            </div>
            <div class="col-lg-10">
                <select asp-for="OwnerId" asp-items="Model.Owners"></select>
                <span asp-validation-for="OwnerId" style="color: red"></span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-2">
                <label asp-for="CartypeId">Model:</label>
            </div>
            <div class="col-lg-10">
                <select asp-for="CartypeId" asp-items="Model.Cartypes"></select>
                <span asp-validation-for="CartypeId" style="color: red"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label asp-for="Color">Color:</label>
            </div>
            <div class="col-lg-10">
                <input asp-for="Color"/>
                <span asp-validation-for="Color" style="color: red"></span>
            </div>
        </div>
        
        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="Id"/>
        <input type="submit"/>
    </form>
   
</div>
